<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Send{% endblock %}</title>
  <style>
    html {
      max-width: 70ch;
      padding: 3em 1em;
      margin: auto;
      line-height: 1.75;
      font-size: 1.25em;
    }
  </style>
</head>
  <body>

  {% if user.is_authenticated %}
    <p> Hi {{ user.username }}!</p>
    <a href="{% url 'upload' %}">upload page</a> | 
    <a href="{% url 'upload_list' %}">upload list</a> | 
    <a href="{% url 'logout' %}">Log Out</a>
  {% else %}
    You are not logged in <a href="{% url 'login' %}">Log In</a>
  {% endif %}

  <p>------------------------</p>

  {% block body %}{% endblock %}

  </body>
</html>

